body {
    font-family: Arial, Helvetica, sans-serif;
    background: #666666;
}

.header {
    width: auto;
	margin-top: 15px;
    padding: 10px;
    background: #FFFFFF;
    border: 2px solid #000000;
}

.header-left{
	display: inline;
	padding-left: 10px;
	padding-right: 20px;
	border: 2px solid #000000;
}

.title{
	
	font-size: 3em;
	
	display: inline;
	position: relative;
	bottom: 35px;
	left: 200px;
	padding: 50px;
	border: 2px solid #000000;
}

.header-div{
	display: flex;
	justify-content: space-between;
}

.socials{
	position: relative;
	left: -30px;
	bottom: -30px;
	border: 2px solid #000000;
}

.header a{
	margin: 10px;
	border: 2px solid #000000;
}

.nav-bar{
	width: auto;
	margin-top: 15px;
	margin-bottom: 15px;
    padding: 10px;
    background: #FFFFFF;
    border: 2px solid #000000;
	text-align: center;	
}

.nav-bar a{
	padding: 10px;
	margin: 40px;
	border: 2px solid #000000;
}

.main{
	width: auto;
	margin-top: 15px;
    background: #FFFFFF;
    border: 2px solid #000000;
}

.mainRunner {
  border: 1px solid #000;
  display: flex;
  margin-bottom: 50px;
}

.secondPart {
	border: 1px solid #000;
}
 
.leftLogo {
border: 1px solid green;
  display: inline-block;
  }
.display {
border: 1px solid green;
  display: inline-block;
  }
.rightLogo {
  border: 1px solid green;
  display: inline-block;
}
