body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(0, 0, 0);
}

.header {
	margin-top: 15px;
    padding: 10px;
    background: #000000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-left{
	display: flex;
	border: 2px solid #000000;
	background-color: rgb(0, 0, 0);
}

.title{
	font-size: 3em;
	border: 2px solid #000000;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
}



.header a{
	margin-right: 20px;
	border: 2px solid #000000;
}

.nav-bar{
	margin-top: -20px;
	margin-bottom: 15px;
    padding: 10px;
    background: #000000;
    border: 2px solid #000000;
	text-align: center;	
}

.nav-bar a{
	padding: 10px;
	margin: 40px;
	border: 2px solid #000000;
	color: white;
}

.mainRunner {
    display: flex;
    height: 100%;
  }

.card {
    background: white;
    width: 300px;
    height: 500px;
    margin: 10px;
    text-align: center;
}

.card-image {
    background-color: rgb(0, 0, 0);
    height: 300px;
    margin-bottom: 15px;
    background-size: cover;
}

.container {
    height: 300px;
    width: 250px;
}

.recipe-1 {
    background-image: url("Recipes/Chef Kiss Unlimited LLC (@mealsbymood) • Instagram photos and videos_files/198594927_636978533929362_5895823369253501036_n.jpg");
}

.recipe-2 {
    background-image: url("Recipes/Chef Kiss Unlimited LLC (@mealsbymood) • Instagram photos and videos_files/247517404_592283551982612_2788117762222762960_n.jpg");
}

.recipe-3 {
    background-image: url("Recipes/Chef Kiss Unlimited LLC (@mealsbymood) • Instagram photos and videos_files/270296712_269532495164216_8087519797152770548_n.jpg");
}

footer {
    font-size: 10px;
    text-align: right;
    color: rgb(255, 255, 255);
}

form {
    float: left;
    color: white;
 }
 
 input {
    float: left;
    clear: left;
    margin: 10px;
 }
 
 label {
    float: left;
    font-size: 1.4em;
 }
 
 /* total div */
 article div {
    width: 50%;
    float: right;
    font-size: 18px;
    font-weight: bold;
 }